<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta property="og:url" content="https://xpecto.tech/" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Xpecto" />
        <meta
            name="description"
            content="Xpecto is science and technology festival of Indian
        Institute of Technology, Mandi. It has been ramped up to
        include the most electrifying events, prompting great
        discoveries, as well as enthralling brainstorming and
        grand prizes."
        />
        <meta
            name="keywords"
            content="Event, Expect, Innovate, Achieve, IIT Mandi, TechFest 2022, Xpecto, Technical festival, Techfest IIT Mandi,
        Xpecto 2022, First Technical Festival, Techfest IIT Mandi"
        />
        <link
            rel="icon"
            type="image/x-icon"
            href="images/xpecto-logo-header.png"
        />
        <script
            src="https://kit.fontawesome.com/a1542a4884.js"
            crossorigin="anonymous"
        ></script>
        <link rel="stylesheet" href="styles/page.css" />
        <link rel="stylesheet" href="styles/style.css" />

        <title>Event | Xpecto</title>
    </head>

    <style>
        #page {
            justify-content: center;
        }
        #page .content {
            /* padding: 2rem; */
            padding-left: 0;
            padding-right: 0;
            margin-left: 0;
            margin-right: 0;
        }
        .first h1 {
            font-size: 3rem;
            font-weight: bold;
            color: white;
            margin: 1rem;
        }
        main .first {
            padding: 1rem;
            /* background-color: red; */
            /* height: 200px; */
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        main .second {
            text-align: center;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
        }
        main .second {
        }
        .event-desc-heading,
        .timeline-heading,
        .submission-heading {
            font-size: 2rem;
            font-weight: bold;
            color: white;
            text-align: center;
        }
        .event-desc,
        .timeline,
        .submission {
            margin: 1rem;
        }
        .submission-link {
            font-size: 1.5rem;
            text-decoration: none;
            color: cyan;
            font-weight: bolder;
        }
        .submission-link:hover {
            cursor: pointer;
        }
        footer .prizes {
            padding: 1rem;
            width: 100%;
            display: flex;
            height: 250px;
            justify-content: space-evenly;
            flex-wrap: wrap;
            /* background-color: blueviolet; */
        }
        @media (max-width: 1080px) {
            footer .prizes {
                margin-bottom: 5rem;
            }
        }
        @media (max-width: 700px) {
            footer .prizes {
                margin-bottom: 15rem;
            }
        }
        .first a {
            text-decoration: none;
        }
        .btn1 {
            font-weight: bold;
            padding: 0.5rem;
            width: 150px;
            border-radius: 5px;
            transition: 0.2s;
            font-size: 1rem;
            background-color: rgba(2, 84, 200, 1);
            color: white;
            border: 2px solid rgba(2, 84, 200, 1);
            display: flex;
            justify-content: center;
            margin: 2rem 1rem 1rem 1rem;
        }
        .btn1:hover {
            cursor: pointer;
            background-color: rgb(4, 74, 172);
            color: white;
            border-color: rgb(4, 74, 172);
            transition: 0.2s;
        }
        .btn-group {
            display: flex;
        }
        @media (max-width: 480px) {
            .btn-group {
                flex-direction: column;
            }
        }
        .prize {
            background: rgba(0, 37, 84, 0.3);
            box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
            border: 1px solid rgba(255, 255, 255, 0.18);
            border-radius: 10px;
            padding: 1rem;
            text-align: center;
            margin: 1rem;
        }
        .prize-heading {
            font-size: 1.5rem;
            font-weight: bold;
            margin: 1rem;
        }
        hr {
            margin: 2rem;
            margin-left: auto;
            margin-right: auto;
            /* text-align: center; */
            width: 75%;
        }
        .event-desc-content {
            padding-top: 0.5rem;
            width: 75%;
            margin-left: auto;
            margin-right: auto;
        }
        @media (max-width: 480px) {
            .first h1 {
                font-size: 2rem;
            }
        }
    </style>
    <body>
        <!-- -----HEADER INCLUDING LOGO AND NAVBAR----- -->
        <%- include ('partials/navbar.ejs') %>
        <!-- -----HEADER END----- -->

        <div class="" id="page">
            <div class="content">
                <main>
                    <section class="first">
                        <%if (event.name==='Epidemic') {%>
                        <h1>\EPIDEMIC</h1>

                        <%} else {%>
                        <h1><%= event.name.toUpperCase()%></h1>
                        <%}%>
                        <div class="msg"></div>
                        <div class="btn-group">
                            <% if (!team_created && event.teamMaxSize > 1) {%>
                            <a href="/createTeam?event=<%= event.name %>"
                                ><button class="btn1 create-team">
                                    Create Team
                                </button></a
                            >
                            <%}%> <% if (team_created && event.teamMaxSize > 1)
                            {%>
                            <a href="/userTeam?event=<%= event.name %>"
                                ><button class="btn1 create-team">
                                    Your Team
                                </button></a
                            >
                            <%}%>

                            <!-- <a
                                target="_blank"
                                href="assets/<%= event.name %>.pdf"
                                ><button class="btn1 rulebook">
                                    Rulebook
                                </button></a
                            > -->
                            <% if (event.name==='Reel-o-logy') {%>
                            <a
                                target="_blank"
                                href="assets/<%= event.name %>.pdf"
                                ><button class="btn1 rulebook">
                                    Rulebook
                                </button></a
                            >
                            <%} else {%>
                            <a href="#"
                                ><button id="rulebook_" class="btn1 rulebook">
                                    Rulebook
                                </button>
                            </a>
                            <%}%>
                        </div>
                    </section>
                    <hr />
                    <section class="second">
                        <div class="event-desc">
                            <div class="event-desc-heading">
                                Event Description
                            </div>
                            <div class="event-desc-content">
                                <%= event.description %>
                            </div>
                        </div>
                        <div class="timeline">
                            <div class="timeline-heading">Timeline</div>
                            <%if (event.start_time.day != 0) {%>
                            <div class="timeline-content">
                                Participants must submit their Reels from
                                <b
                                    ><%= event.start_time.day %> <%=
                                    event.start_time.time %></b
                                >
                                to
                                <b>
                                    <%= event.end_time.day %> <%=
                                    event.end_time.time %>
                                </b>
                            </div>
                            <%} else {%> To be Updated Soon! <%}%>
                        </div>
                        <div class="submission">
                            <div class="submission-heading">Submission</div>
                            <% if (event.submission_link.length > 0) {%>
                            <div class="submission-content">
                                You have to submit your reels through this
                                <a
                                    class="submission-link"
                                    href="<%= event.submission_link %>"
                                    >Submission link.</a
                                >
                            </div>
                            <%}else {%>
                            <div class="submission-content">
                                Submission Links Will be provided Soon!
                            </div>
                            <%}%>
                        </div>
                    </section>
                </main>
                <hr />
                <%if (firstPrizeAmount==="") {%>
                <footer
                    style="
                        text-align: center;
                        margin-bottom: 100px;
                        font-size: 1.5rem;
                        font-weight: bold;
                    "
                >
                    Prize Pool To be updated Soon!
                </footer>
                <%}else{%>
                <footer>
                    <div class="prizes">
                        <div class="prize">
                            <div class="prize-heading">1st Place</div>
                            <div class="prize-name">
                                <%= event.prices.first %>
                            </div>
                        </div>
                        <div class="prize">
                            <div class="prize-heading">2nd Place</div>
                            <div class="prize-name">
                                <%= event.prices.second %>
                            </div>
                        </div>
                        <div class="prize">
                            <div class="prize-heading">3rd Place</div>
                            <div class="prize-name">
                                <%= event.prices.third %>
                            </div>
                        </div>
                    </div>
                </footer>

                <%}%>
            </div>
        </div>
        <script src="scripts/script.js"></script>
        <script type="text/javascript">
            const element = document.getElementById("rulebook_");
            element.addEventListener("click", rulebook);
            const msg = document.querySelector(".msg");
            function rulebook() {
                msg.style.color = "yellow";
                msg.innerHTML = "Event Has Not Started Yet!";
                setTimeout(() => msg.remove(), 5000);
            }
        </script>
    </body>
</html>
